/* .about-section {
  padding: 60px 0;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #777;
}

.about-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 0.25rem;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rounded-circle {
  border-radius: 50%;
} */